<header>
    <nav class="navbar">
        <div class="content">
            <div class="app-name"><a href="#">MyFace</a></div>
            <ul class="menu-list">
                <li><a href="#">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="#">+New Post</a></li>
            </ul>
        </div>
    </nav>
</header>